.row {
  margin-top: 10%;
}

.text-center {
  margin-top: 3%;
}

.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 2%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #e02d2d;
}

.main {
  margin-left: 15%; /* Same as the width of the sidenav */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.about {
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 30px;
}
.about h1 {
  padding: 10px 0;
  margin-bottom: 20px;
}
.about h2 {
  opacity: 0.8;
}
.about span {
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: auto;
  border-radius: 50%;
  font-size: 40px;
  color: #ffffff;

  background-color: #a10a0a;
  border: 2px solid #ad0b0b;

  webkit-transition: all 0.5s ease;
  moz-transition: all 0.5s ease;
  os-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.about-item:hover span {
  opacity: 1;
  border: 2px solid #b61212;
  font-size: 42px;
  -webkit-transform: scale(1.1, 1.1) rotate(360deg);
  -moz-transform: scale(1.1, 1.1) rotate(360deg);
  -o-transform: scale(1.1, 1.1) rotate(360deg);
  transform: scale(1.1, 1.1) rotate(360deg);
}
.about-item:hover h2 {
  opacity: 1;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.about .lead {
  color: #920f0f;
  font-size: 14px;
  font-weight: bold;
}
