@import url("https://fonts.googleapis.com/css?family=Teko:700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700italic");

div#assignmentone {
  font-size: 22px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  position: absolute;
  margin-left: 65%;
  top: 15%;
  background-color: hsl(202, 100%, 50%);
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  text-transform: capitalize;
  animation: brath 8s linear infinite;
  box-shadow: -1px 0px 10px #000;
  color: rgb(112, 0, 0);
}
@keyframes brath {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

body {
  font-family: "Lato", sans-serif;
  background-color: #ffffffce;
}

.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 2%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
}
.sidenav a:link {
  text-decoration: none;
}

.sidenav a:visited {
  text-decoration: none;
}

.sidenav a:hover {
  text-decoration: underline;
}

.sidenav a:active {
  text-decoration: underline;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #e02d2d;
}
.main h1 {
  font-size: 6em;
  text-transform: uppercase;
  color: #c0392b;
  margin: 2%;
  text-align: center;
  font-family: "Teko", sans-serif;
  font-weight: 700;
  line-height: 0.9;
}
.main h3 {
  margin-left: 3%;
}
.main h2,
.main h3 {
  text-decoration: underline;
}
.main h1::before {
  content: "";
  position: absolute;
  transform: translate(0em, 0em);
  width: 0;
  height: 0;
  border-top: 0.5em solid #090909;
  border-right: 0.5em solid transparent;
}

.main h1::after {
  content: "";
  position: absolute;
  transform: translate(-0.45em, 0.2em);
  width: 0;
  height: 0;
  border-bottom: 0.5em solid #090909;
  border-left: 0.5em solid transparent;
}
.main img {
  width: 20%;
  height: 60%;
  position: absolute;
  right: 5%;
}
.main p {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 18px;
  line-height: 27px;

  width: fit-content;
  font-weight: bold;
}
.formcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: fit-content;
  max-width: 60%;
  margin-left: 3%;
}
.names {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.paragraph_text {
  margin-top: 1%;
  width: 100%;
}
.submitButton {
  background-color: #c0392b;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;

  position: relative;
}
.main {
  margin-left: 15%; /* Same as the width of the sidenav */
}

.nameshead,
.ReviewHeader,
.SpoilerHead {
  color: #970f00;
  font-weight: bold;
}

.button-one {
  position: relative;
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  left: 70%;
  margin-top: -7%;

  align-content: center;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.button-one {
  padding: 20px 60px;
  outline: none;
  background-color: #ad371a;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #95a5a6;
}

.button-one:hover {
  background-color: #2ecc71;
}

.button-one:active {
  background-color: #2ecc71;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}
