.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 2%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
}
.sidenav a:link {
  text-decoration: none;
}

.sidenav a:visited {
  text-decoration: none;
}

.sidenav a:hover {
  text-decoration: underline;
}

.sidenav a:active {
  text-decoration: underline;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #e02d2d;
}

.main {
  margin-left: 15%; /* Same as the width of the sidenav */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.review_box {
  border: 2px solid rgb(243, 236, 236);
  width: 90%;
  height: fit-content;
  box-shadow: 10px 10px 5px #aaaaaa;
  position: relative;
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
}
.headers {
  display: flex;
}
.movieName_head {
  padding-left: 3px;
  color: rgb(231, 22, 22);
  font-weight: bolder;
}
.movieName {
  padding-left: 10px;
  width: fit-content;
  height: fit-content;
  margin-right: 20px;
}
img {
  padding-top: 3px;
  width: 100%;
  object-fit: cover;
}
.imageContainer {
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 400px;
}
.reviewText {
  height: 100%;
  display: flex;
  margin-top: -8%;
}
p {
  align-self: flex-end;
  font-size: 110%;
  padding-left: 3px;
}
